.split-screen {
    overflow: hidden;
    height: 100vh;
}

.split-screen img {
    width: auto;
    height: 100vh;
    background: #3F51B5;
    object-fit: contain;
}

.form-wrapper {
    max-width: 320px;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: left;   
}
